Repository lowRISC/ibex, pull requests merged in 2021-04, with the labels that each got.

#1323 Avoid encumbered name in ibex_icache_testplan.hjson
  dv/uvm/icache/data/ibex_icache_testplan.hjson
Labels: Component:DV, Type:Cleanup

#1322 Fix initialisation in ibex_icache_env_cfg.sv
  dv/uvm/icache/dv/env/ibex_icache_env_cfg.sv
Labels: Component:DV, Type:Cleanup

#1325 Update google_riscv-dv to google/riscv-dv@59dcd8c
  vendor/google_riscv-dv.lock.hjson
  vendor/google_riscv-dv/.github/workflows/metrics-regress.yml
  vendor/google_riscv-dv/.metrics.json
  vendor/google_riscv-dv/pygen/pygen_src/isa/riscv_compressed_instr.py
  vendor/google_riscv-dv/pygen/pygen_src/isa/riscv_instr.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_asm_program_gen.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_data_page_gen.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_directed_instr_lib.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_illegal_instr.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_instr_gen_config.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_instr_pkg.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_instr_sequence.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_instr_stream.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_load_store_instr_lib.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_signature_pkg.py
  vendor/google_riscv-dv/pygen/pygen_src/riscv_utils.py
  vendor/google_riscv-dv/pygen/pygen_src/target/multi_harts/riscvOVPsim.ic
  vendor/google_riscv-dv/pygen/pygen_src/target/multi_harts/riscv_core_setting.py
  vendor/google_riscv-dv/pygen/pygen_src/target/rv32i/riscv_core_setting.py
  vendor/google_riscv-dv/pygen/pygen_src/test/riscv_instr_base_test.py
  vendor/google_riscv-dv/pygen/pygen_src/test/riscv_rand_instr_test.py
  vendor/google_riscv-dv/run.py
  vendor/google_riscv-dv/scripts/genMetricsList.py
  vendor/google_riscv-dv/scripts/metrics-regress.py
  vendor/google_riscv-dv/src/riscv_illegal_instr.sv
  vendor/google_riscv-dv/test/riscv_instr_cov_test.sv
  vendor/google_riscv-dv/yaml/iss.yaml
  vendor/google_riscv-dv/yaml/simulator.yaml
Labels: Component:DV

#1341 [lockstep] Introduce optimization barrier around lockstep Ibex
  ibex_top.core
  rtl/ibex_top.sv
Labels: Component:RTL

#1348 [rtl] Break long lines in icache
  rtl/ibex_icache.sv
Labels: Component:RTL, Type:Cleanup

#1349 [rtl] Break long lines in Ibex tracer
  rtl/ibex_tracer.sv
  rtl/ibex_tracer_pkg.sv
Labels: Component:RTL, Type:Cleanup
