Repository lowRISC/ibex, pull requests merged in 2022-08, with the labels that each got.

#1715 [dv,fcov] IRQ and NMI detection fixes for fcov
  dv/uvm/core_ibex/fcov/core_ibex_fcov_if.sv
Labels: Type:Enhancement, Component:DV

#1737 [rtl] Deny no-match X access in M-Mode while MML=1
  dv/uvm/core_ibex/fcov/core_ibex_pmp_fcov_if.sv
  rtl/ibex_pmp.sv
Labels: Type:Bug, Component:RTL

#1729 [dv,core_ibex] Add push_pull agent for Scramble IF
  dv/uvm/core_ibex/env/core_ibex_env.sv
  dv/uvm/core_ibex/env/core_ibex_env_cfg.sv
  dv/uvm/core_ibex/env/core_ibex_env_pkg.sv
  dv/uvm/core_ibex/ibex_dv.f
  dv/uvm/core_ibex/tb/core_ibex_tb_top.sv
  dv/uvm/core_ibex/tests/core_ibex_test_pkg.sv
  dv/uvm/icache/dv/tb/tb.sv
Labels: Type:Enhancement, Component:DV

#1730 [dv,testlist] Enable irq_timer, allow WFI in Umode
  dv/uvm/core_ibex/riscv_dv_extension/testlist.yaml
Labels: Type:Enhancement, Component:DV

#1744 Fix incorrect debug_cause priority against riscv-debug 1.0.0-STABLE
  rtl/ibex_controller.sv
Labels: Type:Bug, Component:RTL

#1735 [rtl] Do not register instruction fetch errors
  rtl/ibex_id_stage.sv
Labels: Type:Bug, Component:RTL

#1746 [lint] Minor fixes
  rtl/ibex_core.sv
  rtl/ibex_pmp.sv
Labels: Component:RTL

#1745 [dv,cosim] Add memory region to match UVM env
  dv/uvm/core_ibex/common/ibex_cosim_agent/spike_cosim_dpi.cc
Labels: Type:Enhancement, Component:DV

#1747 [rtl] Fix scrambling key request on icache inval
  dv/uvm/icache/dv/tb/tb.sv
  rtl/ibex_core.sv
  rtl/ibex_icache.sv
  rtl/ibex_if_stage.sv
  rtl/ibex_lockstep.sv
  rtl/ibex_top.sv
Labels: Type:Bug, Component:RTL
